<style>
    .menu-button-a {border-radius: 10%;}
    </style>

<a class="button is-primary is-inverted  is-dark menu-button-a" href="/documentation/whitepaper" style="background-color: #ADADAD; color: white">
    Concept
</a>
<a class="button is-primary is-inverted  is-dark menu-button-a" id="showModal" style="background-color: #ADADAD; color: white">
    Video tour
</a>
<a class="button is-primary is-inverted  is-dark menu-button-a" href="/samples" style="background-color: #ADADAD; color: white">
    Live Examples
</a>
<!-- <a class="button is-primary is-inverted  is-dark" href="/papers/kolmoblocks/">
    Watch an overview
</a> -->