<div class="section" id="footer"><!-- Begin Footer section -->
    <div class="container has-text-centered"><!-- Begin Footer container -->
        <span class="footer-text">Kolmoblocks <i class="fa fa-heart"></i> is an MIT-licensed Huawei project</span>
    </div>
    <div class="container has-text-centered"><!-- Begin Footer container -->
        <span class="footer-text">The website is made with <i class="fa fa-heart"></i> by Damoon Azarpazhooh</span>
    </div><!-- End Footer container -->
</div><!-- End Footer section -->
