
<nav class="nav nav-center" style="background-color: transparent;">
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-left nav-menu" style="position: relative; left: 10vw;">
      <span class="nav-item" style="margin-right: 1em; top: 1vh;">
        <a href="/">Home</a>
      </span>
      <span class="nav-item" style="margin-right: 1em; top: 1vh;">
        <a href="/documentation">Documentation</a>
      </span>
      <span class="nav-item">
        <a href="https://github.com/kolmoblocks" style="margin-right: 1em; top: 1vh;" >Github</a>
      </span>
      <span class="nav-item" style="margin-right: 1em; top: 1vh;">
        <a href="/samples">Live Samples</a>
      </span>
      <span class="nav-item" style="margin-right: 1em; top: 1vh;">
        <a href="/documentation/article">Articles</a>
      </span>
    </div>
</nav>

