<nav class="nav nav-center" style="background-color: transparent;">
    <ul id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
    
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div id="nav-menu" class="nav-left nav-menu" style="position: relative; left: 10vw;">
      <li class="nav-item" style="margin-right: 1em; top: 1vh;">
        <a href="/"><i class="fa fa-home" style="color: #696969" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item" style="margin-right: 1em; top: 1vh;">
        <a href="/documentation"><i class="fa fa-book" style="color: #696969" aria-hidden="true"></i> Documentation</a>
      </li>
     
      <li class="nav-item" style="margin-right: 1em; top: 1vh;">
        <a href="/samples"><i class="fa fa-superpowers" style="color: #696969" aria-hidden="true"></i> Live Examples</a>
      </li>
      <li class="nav-item">
          <a href="https://github.com/kolmoblocks" style="margin-right: 1em; top: 1vh;" ><i class="fa fa-github" style="color: #696969"  ria-hidden="true"></i> Github
          </a>
        </li>
         </div>
</nav>

