<hr>
<nav class="nav nav-center">
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-left nav-menu">
      <span class="nav-item">
        <a href="/">Kolmoblocks</a>
      </span>
      <span class="nav-item">
        <a href="/documentation">Documentation</a>
      </span>
      <span class="nav-item">
        <a href="https://github.com/kolmoblocks">Github</a>
      </span>
    </div>
</nav>
<hr>
