<div class="container">
    <!-- Begin Research Papers container -->
    <h2 class="title is-2 has-text-centered">Research Library</h2>

    <div class="section is-small">
        <div class="columns is-multiline">
            {{ $totalpapers := (len (.Site.GetPage "section" "papers").Pages) }}
            {{ $numberOfResearchPapersToShow := .Site.Params.research.limit | default $totalpapers }}
            {{ range (.Site.GetPage "section" "papers").Pages | first $numberOfResearchPapersToShow }}
            {{ if eq (mod $numberOfResearchPapersToShow 2) 0 }}
            <div class="column is-half">
                {{ else }}
                <div class="column is-one-third">
                    {{ end }}
                    <div {{ if not .Params.external_link }} id="paper{{ $card := .Title | urlize }}{{ replace $card "%" " "}}" {{ end }}
                        class="card">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                <a {{ if .Params.external_link }} href="{{ .Params.external_link }}" {{ end }}>
                                    <img src="{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ (.Site.Params.research.placeholderImage | default "/img/plant.jpg") | relURL }}{{ end }}">
                                </a>
                            </figure>
                        </div>
                        <div class="card-content has-text-centered top-pad">
                            <a {{ if .Params.external_link }} href="{{ .Params.external_link }}" {{ end }}>
                                {{ .Title }}
                            </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ if lt $numberOfResearchPapersToShow $totalpapers }}
    <div class="container has-text-centered top-pad">
        <a href="{{ "/papers" | relURL }}">All Papers</a>
    </div>
    {{ end }}
    <!-- End papers container -->

    <!-- papers modals -->
    {{ range (.Site.GetPage "section" "papers").Pages | first $numberOfResearchPapersToShow }}
      {{ if not .Params.external_link }}
        <div class="modal" id="modal{{ $card := .Title | urlize }}{{ replace $card "%" " "}}">
            <div class="modal-background"></div>
            <div class="modal-card">
                  <header class="modal-card-header bottom-pad">
                      <p class="modal-card-title">{{ if .Params.fullTitle }}  {{ .Params.fullTitle }}{{ else }} {{ .Params.Title }} {{ end }}</p>
                      <div class="summary">{{  .Params.name }} | {{ .Date.Format (.Site.Params.config.dateFormat | default "Jan 02, 2006") }}</div>
                  </header>

                {{ if .Params.image }}
                <img src="{{ .Params.image | relURL }}" class="img-responsive img-centered">
                {{ end }}
                {{ if .Summary }}
                  <section class="modal-card-body markdown">
                      {{ .Summary}}
                      <br>
                      <a href="{{ .RelPermalink }}">Read More…</a>

                  </section>

                {{ end }}
            </div>
            <button class="modal-close is-large" aria-label="close" id="close{{ $card := .Title | urlize }}{{ replace $card "%" ""}}"></button>
        </div>
        <script>
            $('#paper{{ $card := .Title | urlize }}{{ replace $card "%" ""}}').click(function () {
                $('#modal{{ $card := .Title | urlize }}{{ replace $card "%" ""}}').addClass('is-active');
            });
            $('#close{{ $card := .Title | urlize }}{{ replace $card "%" ""}}').click(function () {
                $('#modal{{ $card := .Title | urlize }}{{ replace $card "%" ""}}').removeClass('is-active');
            });
        </script>
      {{ end }}
    {{ end }}


    <div class="container has-text-centered top-pad">
        <a href="#top">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>
