{{ partial "header.html" . }}
<body>
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <button class="modal-close"></button>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9f27qwQvrBg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    
                </div>
        </div>


<div id="top" style="position: relative">
    <div class="container" style="position: fixed; z-index: 2; margin-top: 1em; background-color: transparent">
                {{ partial "nav-single.html" . }}
    </div>

<!-- Hero Start -->
<div class="hero is-dark" style="background-image: url(/img/background.jpg)">
    <div class="logo" ><img src="/img/logo.png" alt="Pony wearing sambrero" style="max-width: 100%; display: block"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- Title Start -->
            <h1 class="title {{ if .Site.Params.config.fadeEffect | default true }}fade-in one{{ end }}" style="font-size: 6em; color:	#ADADAD">

                 {{ .Site.Params.config.heroTitle | default "Hero Title" }}
            </h1>
            <!-- Title End -->

            <!-- Tagline Start-->
            <h3 class="is-3 fade-in two" style="color: #ADADAD", font-size: 2em;>
                enable a new kind of computer networks, 
                networks that are <b>content-addressable</b>, 
                feature <b>composable data</b>, 
                and let you <b>distribute the code to read the data along with the data itself</b>.           </h3>
            <!-- Tagline End-->
            <br>
            <!-- Social Start -->
            <div class=" {{ if .Site.Params.config.fadeEffect | default true }}fade-in three{{ end }}">
                {{ partial "buttons.html" . }}
            </div>

            <style>
                @media (max-width: 1300px){
           h1 .title {font-size: 4em}
            }
                @media (max-width: 900px){
           h1 .title {font-size: 2em}
  
            } </style>

            <!-- Social End -->
        </div>
    </div>

</div>
<!-- End Hero -->

<div class="section no-padding {{ if .Site.Params.config.fadeEffect | default true }}fade-in three{{ end }}">

  <!-- Start About -->
      <div class="section" id="about">
          <div class="container">
            <!-- <h2 class="title is-2 has-text-centered">Why</h2> -->
            {{ (.Site.GetPage "page" "about").Content }}
          </div>
      </div>
  <!-- End About -->

{{ partial "footer.html" . }}
</div>
<script>
$('a[href^="#"]').click(function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').animate({
    scrollTop: $(target).offset().top
    }, 500);
    return false;
})

$("#showModal").click(function() {
  $(".modal").addClass("is-active");  
});

$(".modal-close").click(function() {
   $(".modal").removeClass("is-active");
});
</script>

</body>
