<hr>
<nav class="nav nav-center">
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-left nav-menu">
      <span class="nav-item">
        <a href="{{ "/" | relURL }}">Main</a>
      </span>

      {{/* Checking to see if research section is activated */}}
      {{ if (.Site.Params.components.researchLibrary ) }}
        {{/* making sure research has entries */}}
        {{ if (.Site.GetPage "section" "papers") ne (nil) }}
          <span class="nav-item">
            {{ if ne .Section "papers" }}
            <a href="{{ "/papers" | relURL }}">Research Library</a>
            {{ else }}
            <a href="{{ "/papers" | relURL }}">Research Library</a>
            {{ end }}
          </span>
        {{ end }}
      {{ end }}
      {{/* Checking to see if project section is activated */}}
      {{ if .Site.Params.components.project }}
      {{/* making sure project has entries */}}
        {{ if (.Site.GetPage "section" "projects") ne (nil) }}
          <span class="nav-item">
            {{ if ne .Section "projects" }}
            <a href="{{ "/projects" | relURL }}">Projects</a>
            {{ else }}
            <a href="{{ "/projects" | relURL }}">Projects List</a>
            {{ end }}
          </span>
        {{ end }}
      {{ end }}
      {{/* Checking to see if blog section is activated */}}
      {{ if (.Site.Params.components.blog) }}
          {{/* making sure about blog has entries */}}
          {{ if (.Site.GetPage "section" "blog") ne (nil) }}
            <span class="nav-item">
              {{ if ne .Section "blog" }}
              <a href="{{ "/blog" | relURL }}">Blog</a>
              {{ else }}
              <a href="{{ "/blog" | relURL }}">Back to Blog</a>
              {{ end }}
            </span>
          {{ end }}
      {{ end }}


    </div>
</nav>
<hr>
